#paineis-sobre{
	margin-top: 20px;
}

.depoimentos-titulo{
	background: #0275D8;
	padding-top: 25px;
	padding-bottom: 25px;
	color: #FFF;
	font-size: 24px;
	margin-bottom: 0;
}

.contato-select,
.grupo-radio {
    width: 50%;
    display: inline-block;
    vertical-align: middle;
}